@font-face {
  font-family: 'Cambria';
  font-weight: 300;
  src: url("../fonts/Cambria.ttf"); }

@font-face {
  font-family: 'Cambria';
  font-weight: 700;
  src: url("../fonts/Cambria-Bold.ttf"); }

body {
  min-width: 320px;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Cambria";
  font-weight: 300;
  font-size: 14px;
  color: #ffffff;
  background-color: #000000; }

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px; }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.header__wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 99; }

.header__bcg {
  width: 100%;
  height: 700px;
  background-size: cover;
  position: absolute;
  z-index: 1; }

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 15px;
  border-bottom: 1px solid #E9CA77;
  padding-bottom: 20px; }

.header__logo {
  width: 75px;
  height: 100%; }

.header__list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px; }

.header__item img {
  width: 20px; }

.header__location {
  padding-left: 10px; }

.header__link {
  text-decoration: none;
  color: #ffffff;
  padding-left: 10px; }

.burger__list {
  position: absolute;
  display: block;
  right: 30px;
  list-style: none;
  width: 16px;
  height: 14px;
  cursor: pointer;
  padding: 0;
  margin: 0;
  z-index: 99;
  margin-top: 15px; }

.burger__item {
  height: 3px;
  width: 20px;
  background: #ffffff;
  position: absolute;
  -webkit-transition: .7s all;
  transition: .7s all; }

.second, .third {
  top: 7px; }

.fourth {
  top: 14px; }

#check-menu {
  display: none; }

#check-menu:checked ~ .menu__list {
  visibility: unset;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #E9CA77;
  height: 300px; }

.second--active {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #ffffff; }

.third--active {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background: #ffffff; }

.menu__list {
  padding: 0;
  margin: 0;
  margin-top: -16px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 0;
  visibility: hidden;
  -webkit-transition: .5s;
  transition: .5s; }

.menu__item {
  padding: 10px; }

.menu__item:nth-child(1) {
  margin-top: 40px; }

.menu__item:nth-child(5) {
  margin-bottom: 40px; }

.menu__link {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  line-height: 21px; }

.menu__link:hover {
  color: #ffffff; }

.haeder__tittle {
  margin-top: 20px;
  text-align: center; }

.header__text {
  font-size: 34px; }

.header__description {
  font-size: 20px; }

.tittle__list {
  margin: 0;
  margin-top: 40px;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.tittle__item {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px; }

.tittle__img {
  width: 50px;
  margin-right: 20px; }

.mail__form {
  width: 90%;
  margin: 0 auto;
  height: 373px;
  border: 1px solid #E9CA77;
  border-radius: 10px;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.form-control, .form-text {
  margin-top: 17px;
  margin-bottom: 17px;
  width: 250px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid #E9CA77;
  font-family: "Cambria";
  padding-left: 10px; }

.form-text {
  height: 80px;
  padding-top: 10px; }

legend {
  margin-bottom: 20px; }

.btn-primary {
  width: 150px;
  height: 30px;
  color: #000000;
  background: #E9CA77;
  border-radius: 5px;
  border: none;
  font-family: "Cambria";
  font-size: 18px; }

@media (min-width: 1024px) {
  .header__wrap {
    width: 1110px; }
  .mail__form {
    width: 388px; }
  .header__tittle-left {
    width: 583px; }
  .header__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .info__item {
    width: 480px; }
  .burger__list {
    display: none; }
  .menu__list {
    height: 60px;
    position: relative;
    visibility: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .menu__item:nth-child(1) {
    margin-top: 0; }
  .menu__item:nth-child(5) {
    margin-bottom: 0; }
  .menu__item {
    margin-right: 50px; }
  .menu__link {
    color: white;
    font-family: "Cambria";
    cursor: pointer;
    padding-bottom: 5px;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .menu__link:hover {
    color: #E9CA77;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-bottom: 1px solid #E9CA77; } }

.main__page {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.main__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 15px;
  margin-right: 15px; }

.info__block {
  margin-top: 50px;
  background-image: url("../img/glitter-brush.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.info__tittle {
  text-align: center;
  margin: 0;
  font-weight: 300;
  height: 60px;
  margin-top: 30px; }

.info__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.info__description {
  max-width: 630px;
  font-size: 18px; }

.info__img {
  margin-top: 30px;
  width: 100%; }

@media (min-width: 768px) {
  .info__tittle {
    font-size: 36px; } }

@media (min-width: 1110px) {
  .main__block {
    width: 1110px; } }

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center; }

.price__tittle {
  margin-top: 40px;
  font-size: 36px;
  margin-bottom: 20px; }

.price__description {
  font-size: 16px;
  margin: 0; }

.price__list {
  margin: 0;
  padding: 0;
  margin-top: 30px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.price__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 250px; }

@media (min-width: 1110px) {
  .main__block {
    width: 1110px; }
  .price__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 340px;
    height: 250px; } }

.instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.insta__text {
  text-align: center;
  font-size: 24px; }

.insta__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto; }

.insta__item {
  color: #E9CA77;
  font-size: 18px;
  margin-bottom: 10px; }

.insta__item span {
  color: #ffffff; }

.insta__tittle {
  text-align: center;
  font-size: 24px;
  font-weight: 300; }

.insta__text {
  font-weight: 300; }

@media (min-width: 768px) {
  .insta__tittle {
    text-align: center;
    font-size: 36px;
    width: 406px; }
  .insta__text {
    font-size: 36px; }
  .insta__list {
    width: 540px; } }

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../img/footer__bckg.png");
  margin-top: 60px; }

.footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.footer__contakt {
  font-size: 36px;
  font-weight: 300; }

.fotter__ya {
  width: 100%; }

.footer__list-contakt {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 50px; }

.foter__item-contakt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

@media (min-width: 768px) {
  .footer__list {
    width: 90%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

@media (min-width: 1024px) {
  .footer__list {
    width: 1024px; }
  .footer__item {
    width: 488px; }
  .fotter__ya iframe {
    width: 488px;
    height: 384px; }
  .footer__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer__list-contakt {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 60px; } }

/*# sourceMappingURL=style.css.map */
